@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

a {
  text-decoration: none;
}
