.main {
  border-bottom: 1px solid black;
}

/* 전체 공통 소제목 */
.title-box {
  height: 69px;
  display: flex;
  align-items: center;
}
.title-box .title-icon {
  width: 48px;
  height: 48px;
  background-color: lightgrey;
  margin-right: 30px;
}
.title-box .title-icon img {
}
.title-box .title {
  font-weight: 700;
  font-size: 28px;
}

/* 슬라이드 */
.main-slide {
  border-bottom: 1px solid black;
}
.main-slide .slide-thum-wrap {
  height: 508px;
  background-color: lightgray;
}
.main-slide .slide-thum-wrap .slide-thum {
}
.main-slide .slide-thum-wrap .slide-thum img {
}
.main-slide-button-wrap {
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slide-button-wrap .slide-button {
}
.main-slide-button-wrap .slide-circle {
  height: 12px;
  width: 12px;
  background-color: #000;
  margin: 0 4px;
  border-radius: 50%;
}

/* 오른손 서비스 */
.main-service-box {
  border-bottom: 1px solid black;
}
.main-service-box .card-wrap {
  height: 708px;
  /* top-botoom 사이 높이 조절 필요 */
}
.card-wrap .card-wrap-top {
  display: flex;
  justify-content: space-between;
}
.card-wrap-bottom {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 340px;
  height: 302px;
  border-radius: 36px;
  overflow: hidden;
  background-color: lightgray;
}
.long-card {
  width: 708px;
  height: 302px;
  border-radius: 36px;
  overflow: hidden;
  background-color: lightgray;
}
/* 서비스 소개 */
/* 컨텐츠 크기만큼 영역 잡히는거 보면 inline-block일 것 같음 */
/* 근데 그때그떄 필요한 내용으로 바꾸면 레이아웃이 이상할 것 같은데, 최대 sns 아이콘이 3개니까 3개를 미리 넣어두고 가리는걸까 생각 중.. */

/* 오른손 pick! 파트너, 시니어 라이프, 이벤트 */
.main-pick-partner {
  border-bottom: 1px solid black;
}
.main-pick-partner .content-box-wrap {
}
.content-box-wrap .contents-box {
}
.contents-box .box-info {
}
.contents-box .box-info .box-info-date {
}
.contents-box .box-info .box-info-title {
}
.contents-box .box-info .box-info-heart {
}
.contents-box .box-info .box-info-heart .heart-icon {
}
.contents-box .box-info .box-info-heart .heart-num {
}
.contents-box .box-info .box-info-watch .watch-icon {
}
.contents-box .box-info .box-info-watch .watch-num {
}
.contents-box .box-img {
}
.contents-box .box-img img {
}
.shortcut {
}
/* 공지 */
